.container {
    width: 100%;
    font-family: Roboto, arial, serif;
    display: grid;
}
.preview-container {
    border: 8px solid rgb(0, 0, 0);
    margin: 20px 250px 10px 250px;
    padding: 30px 50px 30px 50px;
    border-radius: 20px;
    background-color: rgb(14, 106, 210);
    box-shadow: 1px 1px 10px 0px;
}
.para-img {
    border-radius: 20px;
    box-shadow: 1px 0px 10px 1px;
}
.para {
    font-size: 16px;
    color: white;
}
.input-container {
    margin: 0 250px 0 250px;
}
.input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 45px;
}
.input-col {
    margin-top: 10px;
    margin-bottom: 10px;
}
.ai-recommended {
    padding: 15px;
    font-weight: bolder;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    background-color: aqua;
}
.ai-recommended:hover {
    background-color: rgb(31, 160, 240);
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem rgb(31, 160, 240);
    transition: 0.2s;
    opacity: 0.9;
}
.ai-recommended:active {
    opacity: 0.6;
}
.copy-icon{
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-left: 5px;
}
.add-button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #0d6efd;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.add-button:hover {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    transition: 0.15s;
}
.add-button:active {
    border-color: #0d6efd;
    opacity: 0.8;
}
@media (max-width: 1250px) {
    .preview-container{
        margin: 20px 210px 10px 210px;
    }
    .input-container {
        margin: 0 210px 0 210px;
    }
}
@media (max-width: 1160px) {
    .preview-container {
        margin: 20px 190px px 190px;
    }
    .input-container {
        margin: 0 190px 0 190px;
    }
}
@media (max-width: 1100px) {
    .preview-container {
        margin: 20px 150px 10px 150px;
    }
    .input-container {
        margin: 0 150px 0 150px;
    }
}
@media (max-width: 1000px) {
    .preview-container {
        margin: 20px 130px 10px 130px;
    }
    .input-container {
        margin: 0 130px 0 130px;
    }
}
@media (max-width: 860px) {
    .preview-container {
        margin: 20px 100px 10px 100px;
    }
    .input-container {
        margin: 0 100px 0 100px;
    }
}
@media (max-width: 660px) {
    .preview-container {
        margin: 20px 50px 10px 50px;
    }
    .input-container {
        margin: 0 50px 0 50px;
    }
}
@media (max-width: 560px) {
    .preview-container {
        margin: 20px 10px 10px 10px;
    }
    .input-container {
        margin: 0 10px 0 10px;
    }
}