.container {
    width: 100%;
    font-family: Roboto, arial, serif;
    display: grid;
}
.preview-container {
    border: 8px solid rgb(0, 0, 0);
    margin: 1vw 5vw 2vw 5vw;
    padding: 4vw;
    border-radius: 45px;
    background-color: rgb(14, 106, 210);
    box-shadow: 1px 1px 10px 0px;
}
.para-img {
    border-radius: 15px;
    width: 20vw;
    box-shadow: 1px 0 10px 1px;
}
.para {
    font-size: 1rem;
    color: white;
}
.input-container {
    margin: 1vw 20vw 5vw 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.input-grid {
    margin: 0vw 20vw 0vw 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.status {
    display: flex;
}
.ai-recommended {
    padding: 15px;
    font-weight: bolder;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    background-color: aqua;
}
.ai-recommended:hover {
    background-color: rgb(31, 160, 240);
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem rgb(31, 160, 240);
    transition: 0.2s;
    opacity: 0.9;
}
.ai-recommended:active {
    opacity: 0.6;
}
.copy-icon{
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-left: 5px;
}
.add-button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #0d6efd;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.add-button:hover {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    transition: 0.15s;
}
.add-button:active {
    border-color: #0d6efd;
    opacity: 0.8;
}
@media (max-width: 840px) {
    .preview-container {
        border: 8px solid rgb(0, 0, 0);
        margin: 1vw 3vw 2vw 3vw;
        border-radius: 40px;
        opacity: 0.5;
    }
    .para-img {
        width: 30vw;
    }
    .input-grid {
        margin: 0vw 10vw 0vw 10vw;
    }
    .input-container {
        margin: 1vw 10vw 5vw 10vw;
    }
}
@media (max-width: 710px) {
    .preview-container {
        border: 8px solid rgb(0, 0, 0);
        margin: 0vw;
        border-radius: 30px;
        opacity: 0.3;
    }
    .para-img {
        width: 40vw;
    }
    .input-container {
        margin: 4vw 5vw 5vw 5vw;
    }
}