@page
@model FirstWeb.Pages.Mobile



    <head>
        <title>Mobile</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" 
        rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        
        <link rel="stylesheet" href="css/mobile.css">
    </head>


<div class="container">
    <div id="container-text">
        <h1>Mix 'n Match</h1>
    </div>
    <div id="container-text">
        Unleash Your Creativity with Captivating Color Combination!
    </div>
    <div class="img-container">
        <div id="mobile-sec">
            <div class="image-preview" >
                <img class="img-size"
                     src="images/mobile-preview.jpg">
                <div class="mobile-content">
                    <div class="top-icons">
                        <p id="top-icons" style="margin-right: 80px;">9:41</p>
                        <i id="top-icons" style="margin-right: 50px;" class="fa fa-circle"></i>
                        <i id="top-icons" class="fa fa-wifi"></i>
                        <i id="top-icons" class="fa fa-battery-full"></i>
                    </div>
                    <img class="pic-para" src="images/pic_para_mobile.jpeg"> 
                    <div>
                        <h1 class="para">Mountain:</h1>
                        <p class="para">
                            A mountain is a large landform that rises prominently above its surroundings, typically characterized by steep slopes and a considerable elevation. These natural formations are created through geological processes, including tectonic plate movements and volcanic activity. Mountains can vary in size, shape, and appearance, ranging from majestic peaks with snow-capped summits to rugged ranges that stretch for miles.
                        </p>
                    </div>
                </div>
                <div class="navigation-bar">
                    <i class="fas fa-home icons"></i>
                    <i class="fas fa-search icons"></i>
                    <i class="fas fa-comment icons"></i>
                    <i class="fas fa-bars icons"></i>
                </div>
            </div>
        </div>
        <div class="input-container">
            <div class="input-grid">
                <div class="ip-box">
                    <p>Foreground</p>
                    <input style="cursor: pointer;" type="color" id="color1" oninput="setfgcolor()">
                </div>
                <div class="ip-box">
                    <p>Background</p>
                    <input style="cursor: pointer;"  type="color" id="color2" oninput="setbgcolor()">
                </div>
                <div class="ip-box">
                    <p>Text</p>
                    <input style="cursor: pointer;"  type="color" id="color3" oninput="settextcolor()">
                </div>
            </div>
            <div class="status">
                <p class="status-int">Contrast Ratio: 21.0 </p>
                <p class="status-int">Insight: Excellent</p>
                <div>
                    <button class="ai-recommended">
                        AI Recommended: #FFFFFF
                    </button>
                </div>
            </div>
            <div class="copy-color">
                <p id="fg-code" class="code-display">Foreground: #000000</p>
                <i class="fa fa-copy" id="copy-icon"></i>
                <p class="copy-para">Background:#FFFFFF</p>
                <i class="fa fa-copy" id="copy-icon"></i>
                <p class="copy-para">Text: #000000</p>
                <i class="fa fa-copy" id="copy-icon"></i>
                <button class="add-button">
                    Add this combo to Collection
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="js/mobile.js" type="text/javascript"></script>
}