@page
@model FirstWeb.Pages.SignUpSuccess

@{
    Layout = null;
}
@{
     ViewData["Title"] = "Sign Up Success";
}
<h1>Sign Up Success</h1>
<p>Thank you for signing up! You can now log in with your credentials.</p>